<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" th:replace="~{/layouts/default :: layout(~{::title}, ~{::main})}">
<head>
  <meta charset="UTF-8">
  <title th:text="${pageTitle}"></title>
</head>

<body>

  <main>
    <div class="container learn-more">
      <div class="row">
        <div class="col-sm-3 mt-3 ml-5">
          <h3>Some Remarkable Football Matches</h3>
          <p>
            Whether you're a supporter of the top European leagues, passionate about international competitions, or follow your local teams,
            MatchTracker is your one-stop hub for all things football.
            Bookmark our site, subscribe to our newsletter, and embark on a journey through the exhilarating world of football with us. Let's kick off the excitement together!
          </p>
        </div>
        <div class="col-sm-3 mt-3 ml-3 mb-sm-0">
          <div class="card h-100" style="width: 18rem;">
            <img th:src="@{/images/homepage01.jpeg}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Most Appearance</h5>
              <p class="card-text">
                Manchester City is going head to head with Liverpool starting on 25 Nov 2023 at 12:30 UTC at Etihad Stadium stadium,
                Manchester city, England. The match is a part of the Premier League.
                Currently, Manchester City rank 1st, while Liverpool hold 2nd position.
                Looking to compare the best-rated player on both teams?
                Sofascore's rating system assigns each player a specific rating based on numerous data factors.</p>
              <a href="https://www.sofascore.com/liverpool-manchester-city/rU" class="btn btn-primary" target="_blank">Link</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3 mt-3">
          <div class="card h-100" style="width: 18rem;">
            <img th:src="@{/images/homepage03.png}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Everton Vs Manchester City</h5>
              <p class="card-text">
                Everton hosts Manchester City  on matchday 36 in the  2022/2023 Premier League  .
                The Toffees come into the match after beating Brighton 1-5 away from home.
                For their part, the 'skyblues' won 2-1 last time against Leeds.
              </p>
              <a href="https://www.dazn.com/es-ES/news/f%C3%BAtbol/everton-vs-manchester-city-fecha-hora-canal-tv-donde-ver-online-premier-league/1dt5l8c1ie1281xdn2y65n0q4u" class="btn btn-primary" target="_blank">Link</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3 mt-3">
          <div class="card h-100" style="width: 18rem;">
            <img th:src="@{/images/homepage04.jpeg}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bacelona Vs Real Marid</h5>
              <p class="card-text">
                Barcelona is going head to head with Real Madrid starting on 28 Oct 2023 at 14:15 UTC at Olímpic Lluís Companys stadium, Barcelona city, Spain. The match is a part of the LaLiga.
                Barcelona played against Real Madrid in 1 matches this season. Currently, Barcelona rank 3rd, while Real Madrid hold 2nd position. Looking to compare the best-rated player on both
                teams? Sofascore's rating system assigns each player a specific rating based on numerous data factors.
              </p>
              <a href="https://www.sofascore.com/real-madrid-barcelona/rgbsEgb" class="btn btn-primary" target="_blank">Link</a>
            </div>
          </div>
        </div>
      </div>
    </div>


  </main>

</body>
</html>