<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!--fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="icon" th:href="@{/images/favicon.png}" type="image/x-icon">
    <title th:text="${pageTitle}"></title>

</head>

<body>
<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">

                        <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                            <a class="nav-link" th:href="@{/admin/dashboard}">Admin</a>
                        </li>

                        <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                            <a class="nav-link" th:href="@{/admin/matches}">Match</a>
                        </li>

                        <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                            <a class="nav-link" th:href="@{/admin/watchers}">Watcher</a>
                        </li>

                        <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                            <a class="nav-link" th:href="@{/admin/statistics}">Statistic</a>
                        </li>

                        <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                            <a class="nav-link" th:href="@{/admin/messages}">Client's Message</a>
                        </li>

                        <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                            <a class="nav-link" th:href="@{/logout}">Logout</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>
</div>
<main>
    <div class="container-sm my-5">
        <h1>Edit Match</h1>
        <form action="#" th:action="@{/admin/matches/editPost}" th:object="${match}" method="POST">
            <div class="mb-3">
                <input type="hidden" class="form-control" id="id" th:field="*{id}" value="${match.id}">
            </div>
            <div class="mb-3">
                <label for="datum" class="form-label">Date: </label>
                <input type="date" class="form-control" id="datum" th:field="*{datum}" value="${match.datum}">
            </div>
            <div class="mb-3">
                <label for="kezdes" class="form-label">Starting Time: </label>
                <input type="time" class="form-control" id="kezdes" th:field="*{kezdes}" value="${match.kezdes}">
            </div>
            <div class="mb-3">
                <label for="belepo" class="form-label">Ticket Price: </label>
                <input type="number" class="form-control" id="belepo" th:field="*{belepo}" value="${match.belepo}">
            </div>
            <div class="mb-3">
                <label for="tipus" class="form-label">Type (bajnoki || kapu): </label>
                <input type="text" class="form-control" id="tipus" th:field="*{tipus}" value="${match.tipus}">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</main>

<footer class="footer">
    <p>© 2023 Toan. All rights reserved.</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>