.footer {
    font-family: 'Noto Serif', sans-serif;
    text-align: center;
    background-color: #333;
    color: #eee;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5%;
    width: 100%;

}


h1 {
    color: red;
    font-family: monospace;
}