

/*Footer*/

.footer {
    font-family: 'Noto Serif', sans-serif;
    text-align: center;
    background-color: #333;
    color: #eee;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5%;
    width: 100%;

}

/*Home page*/
.homepage {
    margin: 2rem 0;
}

/*Contact Form*/
.contact-form {
    width: 50%;
    margin: 0 auto;
}
.contact-form .contact-error {
    color: red;
}
.contact-image {
    object-fit: contain;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 0;
}