

/*Footer*/

.footer {
    font-family: 'Noto Serif', sans-serif;
    text-align: center;
    background-color: #333;
    color: #eee;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5%;
    width: 100%;

}

/*Home page*/
.homepage {
    height: 80vh;
    margin: 2rem 0;
}
.homepage .content {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.homepage .homepage-head .img {
    max-width: 500px;
}

/*Contact Form*/
.contact-form {
    width: 50%;
    margin: 0 auto;
}
.contact-form .contact-error {
    color: red;
}
.contact-image {
    object-fit: contain;
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 0;
}

/*Learn More*/
.learn-more {
    height: 77vh;
    margin-top: 5%;
}

/*Logged success*/
.logged-success {
    height: 75vh;
    margin-top: 10%;
}

/*Create match*/
.form-create-match {
    height: 77vh;
    margin-bottom: 5%;
}
